# Dependencies
node_modules/
**/node_modules/

# Build
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local
!**/.env.example

# Logs / OS
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Prisma
back-end/prisma/*.db
back-end/prisma/*.db-journal
